<h1>Login</h1>

<% if (message.length > 0) { %>
    <div> <%= message %> </div>
<% } %>

<form action="/login" method="POST">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" />
    <label for="password">Password</label>
    <input id="password" type="password" name="password" />

    <button type="submit">Login</button>
</form>


<p>Need an account? <a href="/signup">Sign up</a> </p>
<p>Or go <a href="/">Home</a></p>
