<h1>Sign up</h1>

<% if (message.length > 0) { %>
    <div> <%= message %> </div>
<% } %>

<form action="/signup" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" />

    <label for="password">Password</label>
    <input type="password" name="password" />

    <button type="submit">Sign Up</button>
</form>

<p>Already have an account? <a href="/login">Login</a></p>

<p>Or go <a href="/">Home</a> </p>
